<form method="post" action="{{ path('datacredito_delete', {'id': datacredito.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ datacredito.id) }}">
    <button class="btn">Delete</button>
</form>
