{% extends 'base.html.twig' %}

{% block title %}Edit Datacredito{% endblock %}

{% block body %}
    <h1>Edit Datacredito</h1>

    {{ include('datacredito/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('datacredito_index') }}">back to list</a>

    {{ include('datacredito/_delete_form.html.twig') }}
{% endblock %}
