{% extends 'base.html.twig' %}

{% block title %}Datacredito index{% endblock %}

{% block body %}
    <h1>Datacredito index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Evidence</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for datacredito in datacreditos %}
            <tr>
                <td>{{ datacredito.id }}</td>
                <td>{{ datacredito.date ? datacredito.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ datacredito.evidence }}</td>
                <td>
                    <a href="{{ path('datacredito_show', {'id': datacredito.id}) }}">show</a>
                    <a href="{{ path('datacredito_edit', {'id': datacredito.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('datacredito_new') }}">Create new</a>
{% endblock %}
