{% extends 'base.html.twig' %}

{% block title %}New Datacredito{% endblock %}

{% block body %}
    <h1>Create new Datacredito</h1>

    {{ include('datacredito/_form.html.twig') }}

    <a href="{{ path('datacredito_index') }}">back to list</a>
{% endblock %}
