{% extends 'base.html.twig' %}

{% block title %}Datacredito{% endblock %}

{% block body %}
    <h1>Datacredito</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ datacredito.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ datacredito.date ? datacredito.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Evidence</th>
                <td>{{ datacredito.evidence }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('datacredito_index') }}">back to list</a>

    <a href="{{ path('datacredito_edit', {'id': datacredito.id}) }}">edit</a>

    {{ include('datacredito/_delete_form.html.twig') }}
{% endblock %}
